<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbershop Homepage</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  
  <!-- Font Awesome icons (free version)-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" crossorigin="anonymous">

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="gallery.css">

  <!-- jQuery library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
</head>
<body>
  <header>
    <div class="contact-info">
      <span class="phone">Phone: +27 68 087 6272 South Africa</span>
      <span class="email">Email: stevenmuzanenhamo81@gmail.com</span>
    </div>
    <button class="book-appointment" onclick="redirectToAbout()">Book Appointment</button>

    <div class="logo">
      <img src="images/m-letter-logo.jpg" alt="Logo">
    </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">MuzaBarbers</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/gallery">Gallery</a></li>

    </ul>
  </nav>
  </header>

  
  <div class="galleryheading" id="gallery_heading">
    <h1>Welcome to our Gallery</h1>
    </div>
  </div>
  

<!-- Carousel -->
<div class="carousel-container">
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/pic10.jpg" class="d-block w-100" alt="Carousel Image 1">
      </div>
      <div class="carousel-item">
        <img src="images/pic13.jpg" class="d-block w-100" alt="Carousel Image 2">
      </div>
      <div class="carousel-item">
        <img src="images/pic8.jpg" class="d-block w-100" alt="Carousel Image 3">
      </div>
      <div class="carousel-item">
        <img src="images/pic17.jpg" class="d-block w-100" alt="Carousel Image 4">
      </div>
      <div class="carousel-item">
        <img src="images/pic18.jpg" class="d-block w-100" alt="Carousel Image 5">
      </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="video-description">
  <h3> Videos showcasing some of our work.</h3>
</div>

<div class="video-container">
  
  <div class="video-wrapper">
    <video class="video" controls>
      <source src="images/vid1.mp4" type="video/mp4">
    </video>
    <div class="overlay">
     
    </div>
  </div>
  <div class="video-wrapper">
    <video class="video" controls>
      <source src="images/vid3.mp4" type="video/mp4">
    </video>
    <div class="overlay">
     
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading-section mb-5 pb-md-4"></h2>
      </div>
      <div class="col-md-12">
        <div class="featured-carousel owl-carousel">
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/pic18.jpg);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic22.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/pic20.jpg);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic20.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/pic17);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic26.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-4.jpg);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic23.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-5.jpg);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic24.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-6.jpg);">
                <a href="#" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <img src="images/pic25.jpg" class="d-block w-100" alt="Carousel Image 4">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<div class="gallery">
    <h1>Gallery Photos</h1>
    <div class="gallery-container" id="gallery-container" style="height: auto;">
      <!-- Gallery items will be dynamically added here -->
    </div>
  </div>

  <div class="modal" id="modal">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <img id="modal-image" src="" alt="Enlarged Image">
    </div>
  </div>


  <footer class="text-center text-white" style="background-image: linear-gradient(to right, #00F260, #0575E6);
  ">

    <div class="footer-container text-dark m-1" >
      <div class="footer-column">
        <h3>Opening Times</h3>
        <ul>
          <li>Monday: 9am - 6pm</li>
          <li>Tuesday: 9am - 6pm</li>
          <li>Wednesday: 9am - 6pm</li>
          <li>Thursday: 9am - 6pm</li>
          <li>Friday: 9am - 6pm</li>
          <li>Saturday: 9am - 6pm</li>
          <li>Sunday: 9am - 4pm</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="logo">
          <img src="images/m-letter-logo.jpg" alt="Logo">
        </div>
      </div>
      <div class="footer-column ">
        <h3>Contact Us</h3>
        <p>Rustenburg, North West</p>
        <p>Limpopo, South Arica 0029</p>
        <p>Phone: +27 68 087 6272</p>
        <p>Email: stevenmuzanenhamo81@gmail.com</p>
      </div>
    </div>
  
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/profile.php?id=100063689347919"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/kmuzanenhamo/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 MuzaBarbers.com:
      <a class="text-dark" href="#"></a>
    </div>
    <!-- Copyright -->
  </footer>


  
  <script src="gallery.js"></script>
   




<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
