<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbershop Homepage</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  
  <!-- Font Awesome icons (free version)-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" crossorigin="anonymous">

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="mystyles.css">

  <!-- jQuery library-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header>
    <div class="contact-info">
      <span class="phone">Phone: +27 68 087 6272 South Africa</span>
      <span class="email">Email: stevenmuzanenhamo81@gmail.com</span>
    </div>
    <button class="book-appointment" onclick="redirectToAbout()">Book Appointment</button>

    <div class="logo">
      <img src="images/m-letter-logo.jpg" alt="Logo">
    </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">MuzaBarbers</a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/gallery">Gallery</a></li>
     
    </ul>
  </nav>
</header>
<div class="image-container">
  <img src="images/chair.jpg" alt="Full Width Image" style="height: 450px;">
  <div class="image-overlay">
    <h1>Welcome to our Barbershop.</h1>
    <p>"A good barber is not just a master of the clippers, but an artist who crafts impeccable styles <br> precision and care, leaving clients feeling confident and looking their best."</p>
  </div>
</div>

<section class="appointment-section">
  <div class="appointment-overlay">
    <a href="/about#appoint" class="appointment-link">
      <img class="scissors-image" src="images/images.png" alt="Scissors Image">
      <div class="overlay"></div>
      <div class="appointment-text">Click to Book Appointment</div>
    </a>
  </div>
  
  <div class="appointment-overlay">
    <a href="/gallery" class="appointment-link">
      <img class="scissors-image" src="images/clippers-design-vector.jpg" alt="Second Image">
      <div class="overlay"></div>
      <div class="appointment-text">Click For Gallery</div>
    </a>
  </div>
</section>


<section class="pricing-section">
  <div class="pricing-container">
    <h2 class="section-heading">Haircut Styles and Prices</h2>
    <div class="haircut-styles">
      <div class="haircut-style">
        
        <h3>Classic Cut + Fiber</h3>
        <p class="price">R100</p>
      </div>
      <div class="haircut-style">
        
        <h3>Cut + Black Dye</h3>
        <p class="price">R200</p>
      </div>
      <div class="haircut-style">
        
        <h3>Cut and Color 1</h3>
        <p class="price">R270</p>
      </div>
    </div>
    <div class="haircut-styles">
      <div class="haircut-style">
      
        <h3>Cut + 2 Colors </h3>
        <p class="price">R300</p>
      </div>
      <div class="haircut-style">
        
        <h3>Ordinary Cut</h3>
        <p class="price">R70</p>
      </div>
      <div class="haircut-style">
        
        <h3>Chizkop + Wash</h3> 
        <p class="price">R60-80</p>
      </div>
    </div>
    <div class="haircut-styles">
      <div class="haircut-style">
       
        <h3>Dye  black</h3>
        <p class="price">R100</p>
      </div>
      <div class="haircut-style">
       
        <h3>Cut + Blonde</h3>
        <p class="price">R220</p>
      </div>
      <div class="haircut-style">
        
        <h3>Dye Bleach + Color</h3>
        <p class="price">R200</p>
      </div>
    </div>
    <div class="haircut-styles">
      <div class="haircut-style">
       
        <h3>Shave</h3>
        <p class="price">R30</p>
      </div>
      <div class="haircut-style">
       
        <h3>Including Fiber </h3>
        <p class="price">RR</p>
      </div>
      <div class="haircut-style">
       
        <h3>Hair wash</h3>
        <p class="price">R20</p>
      </div>
    </div>
    <p class="pricing-message">At MuzaBarbers, we offer competitive prices for our haircut styles. Our skilled barbers deliver top-notch service at affordable rates. Experience quality grooming without breaking the bank!</p>
  </div>
  
</section>


 

  <footer class="text-center text-white" style="background-image: linear-gradient(to right, #00F260, #0575E6);
  ">

    <div class="footer-container text-dark m-1" >
      <div class="footer-column">
        <h3>Opening Times</h3>
        <ul>
          <li>Monday: 9am - 6pm</li>
          <li>Tuesday: 9am - 6pm</li>
          <li>Wednesday: 9am - 6pm</li>
          <li>Thursday: 9am - 6pm</li>
          <li>Friday: 9am - 6pm</li>
          <li>Saturday: 9am - 6pm</li>
          <li>Sunday: 9am - 4pm</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="logo">
          <img src="images/m-letter-logo.jpg" alt="Logo">
        </div>
      </div>
      <div class="footer-column ">
        <h3>Contact Us</h3>
        <p>Rustenburg, North West</p>
        <p>Limpopo, South Arica 0029</p>
        <p>Phone: +27 68 087 6272</p>
        <p>Email: stevenmuzanenhamo81@gmail.com</p>
      </div>
    </div>
  
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/profile.php?id=100063689347919"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/kmuzanenhamo/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 MuzaBarbers.com:
      <a class="text-dark" href="#"></a>
    </div>
    <!-- Copyright -->
  </footer>


  
  <script src="main.js"></script>
   




<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
